* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
    width: 100%;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0 0 10px 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

fieldset {
    padding: 10px;
    border-color: black;
}

.container {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: crimson;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #363636;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

#addTaskForm button,
#editTaskForm button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

#addTaskForm button:hover {
    background-color: #363636;
}

.task-list {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li.task-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 10px auto; 
}

li.task-item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.task-item .status {
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    width: 150px;
    margin: 5px 0;
}

.task-item .complete {
    background-color: green;
}

.task-item .incomplete {
    background-color: red;
}

.task-item button {
    padding: 8px 12px;
    margin: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.task-item button:hover {
    background-color: #555;
}

.task-item button.toggle-complete {
    background-color: #4CAF50;
    width: 150px;
}

.task-item a.edit-task {
    background-color: yellowgreen;
}

.task-item a.details-task {
    background-color: darkcyan;
}

.task-item button.delete-task {
    background-color: #f44336;
}

button,
a {
    width: auto;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

a{
    font-size: 15px;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}

a:hover {
    opacity: 0.8;
}

#backButton {
    background-color: gray;
}

.task-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.task-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.task-details p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.task-details strong {
    font-weight: bold;
}

.filter {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#filterOptions {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

#filterOptions:hover {
    border-color: #888;
    background-color: #f1f1f1;
}
